<!DOCTYPE html>
<%= stylesheet_link_tag "style.css" %>

<html>
	<header></header>
	<body>
		<div>
		  <h1>Edit Boulder Problem</h1>
		</div>
		 
		<div>
		  <%= render 'form' %>
			<%= button_to 'Delete', problem_path(@problem),
          method: :delete,
          data: { confirm: 'Are you sure?'} %>
		</div>
		 
		<div> 
		<%= link_to 'Back', problem_path %>
		</div>
	</body>
</html>	

            <!-- <td></td> -->