<!-- views/welcome/index.html.erb -->
<div id="index_container">
		<p>
		Welcome to FB. This site aims to provide all documentation for bouldering and climbing development in and around Frederick, Maryland.
		</p>
		<p>
			<strong>Up Next..</strong>
			<li>Photo attachments for each problem.</li>
			<li>Filtering by area and/or grade.</li>
			<li>Area topos with access info.</li>
			<li>Problem properties to include public/private property.</li>
			<li>All areas with access issues will only be available to approved users.</li>
	</p>
</div>
