<!-- views/welcome/index.html.erb -->
<div id="index_container">
	<p>
		<h4>Status:</h4>
		<li>Site is live but photo uploads are in still the works</li>
		<h4>Up Next:</h4>
		<li>Photo attachments for each problem</li>
		<li>Filtering by area and/or grade</li>
		<li>Area topos with access info</li>
		<li>Problem properties to include public/private property</li>
		<li>All areas with access issues will only be available to approved users</li>
	</p>
	<img src="https://s3.amazonaws.com/frederick-bouldering-assets/photo1" width=30px alt="test photo">
</div>
