<!-- views/welcome/index.html.erb -->

<div class="login">
	<p>
		<img src="https://s3.amazonaws.com/frederick-bouldering-assets/photo1" width=300px alt="test photo">
	</p>
</div>

<div class="signup">
	
</div>