<!-- views/welcome/index.html.erb -->
<div class="index_container">
<div class="login">

</div>

<div class="signup">
	
</div>



<img src="https://s3.amazonaws.com/frederick-bouldering-assets/photo1" width=30px alt="test photo">